name: PlatformIO Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:  # Ручной запуск

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [espressif8266, espressif32]
        board:
          - platform: espressif8266
            board: nodemcu
            artifact: firmware-esp8266.bin
          - platform: espressif32
            board: esp32dev
            artifact: firmware-esp32.bin

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-${{ hashFiles('**/platformio.ini') }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run -e ${{ matrix.board }} -p ${{ matrix.platform }}

      - name: Upload Firmware Binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: .pio/build/${{ matrix.board }}/firmware.bin

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            firmware-esp8266.bin
            firmware-esp32.bin
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}