name: PlatformIO CI

on:
  [push, pull_request]
  workflow_dispatch:
    inputs:
      platform:
        description: 'Выбери платформу для сборки'
        required: true
        type: choice
        default: 'espressif32'
        options:
          - espressif8266
          - espressif32

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            MATRIX="{\"include\":[{\"platform\":\"${{ github.event.inputs.platform }}\",\"board\":\"${{ github.event.inputs.platform == 'espressif8266' && 'nodemcu' || 'esp32dev' }}\"}]}"
          else
            MATRIX="{\"include\":[{\"platform\":\"espressif8266\",\"board\":\"nodemcu\"},{\"platform\":\"espressif32\",\"board\":\"esp32dev\"}]}"
          fi
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

  build:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-${{ hashFiles('**/platformio.ini') }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build PlatformIO Project
        run: pio run -e ${{ matrix.board }} -p ${{ matrix.platform }}
        env:
          PLATFORMIO_BUILD_FLAGS: -D PIOCI